/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.button {
  font-size: 1.3em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu>li {
  display: inline;
}

.menu>li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu>li:nth-child(1):before {
  content: "";
  padding: 0;
}

.fullwidth {
  width: 60%;
}

li {
  height: 50px;
  width: 100%;
}

.info {
  text-align: center;
  width: 60%;
}


h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
#fetch h4{
  padding-top:50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 20px;


}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(187, 163, 206, 1);
  background-color: #fff;
  padding: 5% 0;
   border-radius: 20px;
}


.grid .text {
  padding: 10px 20px 20px 30px;
  color: #808285;
  display: flex;

}
.grid .text p{
  padding: 25px;
}
.w-100{
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

